@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

html,
body {
  min-width: 250px;
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive !important;
  color: #78909c !important;
  background: #eceff1 !important;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
